:root {
    --construction-text-colour: #FFA929;
    --construction-padding: 20px;
}

.mainBody {
    text-align: center;
}

.constructionContainer {
    width: 100%;
    background-color: var(--colour-primary-subtle);
    padding: var(--construction-padding);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
    color: var(--colour-on-primary);
}

.constructionContainer h1 {
    color: var(--construction-text-colour);
    font-size: 28px;
}

.constructionContainer p {
    font-size: 18px;
}

.constructionContainer a {
    text-decoration: none;
    font-weight: bold;
    color: var(--colour-on-primary-highlight);
}

.constructionContainer a:hover {
    text-decoration: underline;
}
