.infoContainer {
    width: 100%;
    min-height: 30%;
    height: max-content;
    margin: auto;
    background: var(--colour-secondary-subtle);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.center ul {
  text-align: justify;
}
