---
import ArticleLayout from "../../../layouts/ArticleLayout.astro";
import { Code } from 'astro:components';

export const meta = {
  title: "Beginnings",
  description:
  `
  My experience getting plutonia.org initially set up
  `,
  date: new Date("2025-9-4"),
  tags: [ "html", "css" ]
};
---

<ArticleLayout
  title={meta.title}
  description={meta.description}
  >
    <div class="blog">
        <h1>Beginnings</h1>
        <p class="section">
          &emsp;Today was fairly simple, planning how I want to set up the site,
          what kind of things I want to post here.. the like.  Not a ton to say,
          but I did find out about &amp;emsp; and the &amp; codes for html!  This
          particular post is also doubling as a way to make sure I set up the
          styling and all correctly in the CSS which is fairly simple as of now.
          Here's a code block of it:
        </p>
        <pre>
          <Code code={`
            .blog {
              background: var(--colour-medium);
              min-height: 150px;
              margin-top: 5px;
            }

            .blog .section {
              padding: 20px;
              margin-top: 20px;
            }

            .blog h1 {
              padding: 30px;
              font-size: 40px;
              text-align: center;
              background: var(--colour-secondary-light);
            }

            .blog p {
              text-indent:initial;
            }
            `} lang="css"
          />
        </pre>
        <p class="section">
          &emsp;I've set everything up so that I have the main site colours as
          variables for quick use.  For this piece of styling in particular
          I mostly borrowed from
          <a href="https://www.w3schools.com/howto/howto_css_blog_layout.asp"
          >w3schools' blog layout</a> for simplicity.  Since I intend to keep this
          website as static as possible (mostly for the sake of avoiding lots of
          hosting costs...) it's been an interesting challenge of figuring out how
          I want to lay things out so that it's still easy to navigate with
          minimal or ideally no JS usage (though I may add some in at some point
          for a simple search bar.  I am also wondering if I might want subpages
          for the individual devlogs.  I might do that for specific projects if
          their single page gets a little too long for my liking (maybe a prev
          and next buttons setup, to keep the simple feel).
        </p>
        <p class="section">
          &emsp;Today also marks the first thing posted here! :D (party noises)
          For my projects, they're going to be more of a devlog, I'm planning to
          add BLOG in the title of any actual blog/article posts I make here.
          Do I expect anyone to read these?  Not exactly, but it seems like a
          fun project, and a nice way to get out my thoughts on various topics
          I'm interested in!
        </p>
      </div>
</ArticleLayout>
