---
import ArticleLayout from "../../../layouts/ArticleLayout.astro";
import ProjectCard from "../../../components/ProjectCard.astro";
import { Image } from 'astro:assets';

export const meta = {
  title: "plutonia.org",
  description:
  `
  This is my website where I post devlogs and blog a bit about interesting projects I'm working on or have seen!
  Topics will typically revolve around low level development, EEG research, and linux/OS development.
  \n\n
  I often prefer to use languages like C or Zig, but there may be a variety of languages here.
  `,
  image: "",
  date: new Date("2025-9-4"),
  tags: [ "Astro", "HTML", "CSS" ]
};
---

<ArticleLayout
  title={meta.title}
  description={meta.description}
  >
    <div class="flex justify-center items-center">
      <Image
        src={import ("../../../media/128x128.png")}
        alt={`${meta.title} logo`}
        class="imageIn"
        width="128"
        height="128"
      />
    </div>
    <!-- TODO: Make this prettier -->
    <ProjectCard
      title="beginnings"
      href="../beginnings"
      description={`My experience getting plutonia.org initially set up`}
    />
</ArticleLayout>
