---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { Image } from 'astro:assets';

import LogoLarge from "../media/128x128.png";
---

<BaseLayout>
  <NavBar />

  <div class="mainBody">
    <ProjectCard
      title="Plutonia.org"
      href="/projects/plutonia.org/plutonia.org/"
      description={`This is my website where I post devlogs and blog a bit
      about interesting projects I'm working on or have seen! Topics usually
      include low-level development, EEG research, and Linux/OS work.`}
      image_src={LogoLarge.src}
    />

    <ProjectCard
      title="PlutoniumOS"
      href="/projects/plutoniumos/plutoniumos/"
      description={`An operating system project developed as an academic
      exercise to learn Zig and OS design fundamentals.`}
      image_src={LogoLarge.src}
    />
  </div>

  <Footer />
</BaseLayout>
